* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  background: linear-gradient(to right, #1d1d1d, #252525);
  color: #fff;
  border-bottom: 1px solid #38cdec;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

header h1 {
  font-size: 1.8rem;
  font-family: 'Rouge Script', cursive;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header ul li {
  margin-left: 20px;
}
header ul li:hover {
  cursor: pointer;
  color: #38cdec;
}

section {
  background: linear-gradient(to bottom, #33333381, #22222277),
    url('https://source.unsplash.com/mP7aPSUm7aE') center center/cover no-repeat;
  height: 100vh;
  color: #fff;
}

section h1,
p {
  text-align: center;
}
section h1 {
  letter-spacing: 5px;
  padding-top: 40vh;
  font-size: 4rem;
}
section p {
  font-size: 1.2rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
section button {
  width: 300px;
  font-size: 1.6rem;
  margin: 50px 0;
  padding: 10px 20px;
  border: none;
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
section button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to left top,
    #ba5f93,
    #b26aa6,
    #a775b6,
    #9980c3,
    #8b8bcc,
    #7c97d7,
    #6da3df,
    #5daee4,
    #47beeb,
    #38cdec,
    #3edce8,
    #57e9e0
  );
  transform: translateY(-10px);
  box-shadow: -2px 12px 13px #161616;
}
footer {
  background: #000;
  border-top: 1px solid #38cdec;
  padding: 15px 0;
  color: #cecece;
  font-size: 0.8rem;
}

.fa-apple:hover {
  color: #38cdec;
}

hr {
  width: 50%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background: linear-gradient(to right, #ba5f93, #38cdec, #ba5f93);
}
